.goods
  display: flex
  position: absolute
  top: 174px
  bottom: 46px
  overflow: hidden
  .menu-wrapper
    flex :0 0 80px // 等分 缩放 占位空间
    width :80px   //  如果不设置的话安卓会有兼容性问题
    background :#F3F5F7

